
<link rel="stylesheet" href="/styles/loginStyle.css">

<div class="divForms">
<figure id="logo">
      <a href="http://www.onefitness.pe" target="_blank"><img  src="/images/1.png" alt="ONE Fitnes"></a>
</figure>
	<% if(flash && flash.err) { %>
		<ul>
			<% Object.keys(flash.err).forEach(function(error) { %>
			<li><%=flash.err[error] %></li>
			<% }) %>
		</ul>
			
	<% } %>

<form action="/session/create" method="POST">
	<input type="text" id="id" placeholder="Ingrese se E-mail" name="email">
	<input type="password" id="password" placeholder="Ingrese su Contraseña" name="password" ></td>
	
	<input type="submit" id="login" class="btn" value="Ingresar">
</form>
</div>







