<div class="container">

<h1>CREAR CLIENTE</h1>
<div class="divForms">
<form  action="/client/create" method="POST" >
	<label>DNI: </label>
	<input type="text" name="documentNumber" class="form-control" placeholder="Ingresar DNI " required/> <br/>
	<label>Nombres: </label>
	<input type="text" name="firstName" class="form-control" placeholder="Ingresar Nombres" required/> <br/>
	<label>Apellidos: </label>
	<input type="text" name="lastName" class="form-control" placeholder="Ingresar Apellidos" required/> <br/>
	<label>Teléfono: </label>
	<input type="text" name="phoneNumber" class="form-control" placeholder="Telefono/celular" required/> <br/>
	<label>E-mail: </label>		
	<input type="email" name="email" class="form-control" placeholder="Ingresar E-mail" required/> <br/>
	<label>Direccón: </label>
	<input type="text" name="address" class="form-control" placeholder="Ingresar Dirección" required/> <br/>
	<label>Distrito: </label>
	<select  id="pais" class="cambio" class="form-control" name="district" required>
			<% _.each(distritos, function(distrito){ %>

			<option value="<%= distrito.id_district %>"> 
				<%= distrito.districtName %>
			</option>
			
			<%})%>
    </select><br>
	<input type="submit" class="btn btn-danger" value=" Crear "/> <br/>
</form>
</div>
</div>

<script>
(document).ready(OnReady);
	function OnReady(){
	$("#mysearch").focus();
}
</script>