<div class="container">
<h1>PRODUCTOS Y SERVICIOS</h1> 

	<table id="dvData" class="display table table-borderd table-hover" >
		<thead>
		<tr>
		<!--		<th>ID</th>-->
			<th>Servicio</th>
			<th>Total</th>
			
		</tr>
		</thead>

		<tbody>	
		
		<tr> 
			<td></td>
			<td>S/. </td>

		</tr>
		</tbody>

	</table>
</div>