<div class="container">

	<% if(flash && flash.err) { %>
		<ul class="alert alert-danger">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>


<h1>CREAR USUARIO</h1>

<div class="divForms">

	<form role="form" action="/user/create" id="newUser" method="POST" >
		<table>
		<tr>
			<td class="labeltd"><label>ID: </label></td>
			<td><input type="text" name="userId" class="userId form-control" placeholder="ingresar ID del usuario" required/></td>
		</tr>
		<tr>
			<td class="labeltd"><label>Nombres: </label></td>
			<td><input type="text" name="firstName" class=" form-control" placeholder="Ingresar Nombre(s)" required/></td>
		</tr>
		<tr>
			<td class="labeltd"><label>Apellidos:</label></td>
			<td><input type="text" name="lastName" class="form-control"	placeholder="Ingresar Apellido(s)" required/></td>
		</tr>
		<tr>
			<td class="labeltd"><label>Teléfono</label></td>
			<td><input name="phoneNumber" type="number" class="form-control" placeholder="ingresar Telefono o celular" /></td>
		</tr>
		<tr>
			<td class="labeltd"><label>E-mail</label></td>		
			<td><input type="email" name="email" class="form-control"	placeholder="ingresar E-mail" /></td>
		</tr>
		<tr>
			<td class="labeltd"><label>Contraseña</label></td>
			<td><input type="password" name="password" class="form-control" placeholder="ingresar Contraseña" required/></td>
		</tr>
		<tr>
			<td class="labeltd"><label>Confirmar</label></td>
			<td><input type="password"  placeholder="confirmar Contraseña" name="confirmation" class="form-control" required></td>
		</tr>
		</table>
		<br>
		
		<div>
			<input type="radio" name="admin" value="admin" id="admin" >
			<label for="admin">Administrador</label>
		</div>
		<div>
			<input type="radio" name="admin" value="user" id="user">
			<label for="user">Vendedor</label>
		</div>
		<div>
			<input type="radio" name="admin" value="trainer" id="trainer">
			<label for="trainer">Entrenador</label>
		</div>
		<div>
			<input type="radio" name="admin" value="nutritionist" id="nutritionist">
			<label for="nutritionist">Nutricionista</label>
		</div>
		<br/>
		<input type="submit" class="btn btn-danger" value="Crear" /> <br/>

	</form>
</div>
</div>

<script>
$(document).ready(OnReady);
function OnReady(){
	$(".userId").focus();
}
</script>

