<div class="container">

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>


<h1>CREAR USUARIO</h1>

<div class="divForms">

<form role="form" action="/user/create" method="POST" >
	<label>ID: </label>
	<input type="text" name="userId" class="form-control" placeholder="ingresar ID del usuario" required/> <br/>
	<label>Nombres: </label>
	<input type="text" name="firstName" class="form-control" placeholder="Ingresar Nombre(s)" required/> <br/>
	<label>Apellidos:</label>
	<input type="text" name="lastName" class="form-control"	placeholder="Ingresar Apellido(s)" required/> <br/>
	<label>Teléfono</label>
	<input type="text" name="phoneNumber" class="form-control" placeholder="ingresar Telefono o celular" required/> <br/>
	<label>E-mail</label>		
	<input type="email" name="email" class="form-control"	placeholder="ingresar E-mail" required/> <br/>
	<label>Contraseña</label>
	<input type="password" name="password" class="form-control" placeholder="ingresar Contraseña" required/> <br/>
	<label>Confirmar</label>
	<input type="password"  placeholder="confirmar Contraseña" name="confirmation" class="form-control"><br>
	
	<div>
			<input type="radio" name="admin" value="admin" id="admin" >
			<label for="admin">Administrador</label>
			</div>
			<div>
			<input type="radio" name="admin" value="user" id="user">
			<label for="user">Vendedor</label>
			</div>
			<div>
			<input type="radio" name="admin" value="trainer" id="trainer">
			<label for="trainer">Entrenador</label>
			</div>
			<div>
			<input type="radio" name="admin" value="nutritionist" id="nutritionist">
			<label for="trainer">Nutricionista</label>
	</div>
	<br/>
	<input type="submit" class="btn btn-danger" value="Crear" /> <br/>

</form>
</div>
</div>


