<h1>CREATE USER...</h1>

<form role="form" action="/user/create" method="POST" class="" id="">

	<input type="text" name="userId" 	placeholder="ID del usuario" required/> <br/>
	<input type="text" name="firstName" placeholder="Nombres" required/> <br/>
	<input type="text" name="lastName" 	placeholder="Apellidos" required/> <br/>
	<input type="text" name="phoneNumber" placeholder="Telefono/celular" required/> <br/>		
	<input type="email" name="email" 	placeholder="e-mail" required/> <br/>
	<input type="password" name="password" placeholder="Password" required/> <br/>
	<input type="submit" value="Crear Usuario"/> <br/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>"/>

</form>
