<h1>Create Services</h1>

<form role="form" action="/service/create" method="POST" class="" id="">

	<input type="text" name="serviceName" 	placeholder="Nombre del servicio" required/> <br/>
	<input type="text" name="servicePrice" placeholder="Precio del servicio" required/> <br/>
	<textarea name="serviceDescription" rows="10" cols="50" placeholder="..."></textarea> <br/>
	<input type="submit" value="Crear Servicio"/> <br/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>
