<div class="container">
	<h1>CREAR SERVICIO</h1>
	<div class="divForms">
		<form action="/service/create" method="POST">
			<input type="text" name="flag" hidden value="service"> <!-- indicador de que es un producto -->
			<table> 
			<tr> 	
				<td class="labeltd"><label>Servicio:</label></td>
				<td><input type="text" class="serviceName form-control" name="serviceName" placeholder="Ingresar Nombre del servicio" required /></td>
			</tr>
			<tr>
				<td class="labeltd"><label>Precio:</label></td>
				<td><input type="number" step="any" class="form-control" name="servicePrice" placeholder="Ingresar Precio del servicio" required/></td>
			</tr>
			<tr>
				<td class="labeltd"><label>Descripción:</label></td>
				<td><textarea name="serviceDescription" class="form-control" rows="10" cols="50" placeholder="Ingresar breve descripción del servicio..."></textarea></td>
			</tr>
			</table>
			 <br/>
			<input type="submit" value="  Crear Servicio" class="btn btn-danger" /> <br/>
		</form>
	</div>
</div>


<script>
$(document).ready(OnReady);
function OnReady(){
	$(".serviceName").focus();

}
</script>