<div class="container">
	
	<h1>INGRESAR NUEVO PRODUCTO</h1>
	<div class="divForms">
		<form action="/service/create" method="POST">
			<input type="text" name="flag" hidden value="product"> <!-- indicador de que es un producto -->
			<table>
			<tr>
				<td class="labeltd"><label>Nombre:</label></td>
				<td><input type="text" class="serviceName form-control" name="serviceName" placeholder="Ingresar Nombre del servicio" required/></td>
			</tr>
			<tr>
				<td class="labeltd"><label>Precio:</label></td>
				<td><input type="number" class="form-control" id="servicePrice" name="servicePrice" placeholder="Ingresar Precio del servicio" required/></td>
			</tr>
			<tr>
				<td class="labeltd"><label>Proveedor:</label></td>
				<td><input type="text" class="form-control" name="serviceProvider" placeholder="Ingresar Nombre del servicio" required/></td>
			</tr>
			<tr>
				<td class="labeltd"><label>Descripción:</label></td>
				<td><textarea name="serviceDescription" class="form-control" rows="10" cols="50" placeholder="Ingresar breve descripción del servicio..."></textarea> </td>
			</tr>
			</table>
			<br/>
			<input type="submit" value=" Ingresar Producto " class="btn btn-danger" /> <br/>
		</form>
	</div>
</div>

<script>
$(document).ready(OnReady);
function OnReady(){
	$(".serviceName").focus();

	 $('#servicePrice').blur(function() {
        var amt = parseFloat(this.value);
        $(this).val(amt.toFixed(2));
    });

}
</script>