<div class="container">
<h1>DETALLE DE SERVICIO</h1>
<div class="divForms">
	<h2>Nombre: <%= service.serviceName %></h2>
	<h3>Precio: <%= service.servicePrice %></h3>
	<p>Descripción: <%= service.serviceDescription %> </p> 

	<a href="/service/edit/<%= service.id_service %>">Editar</a>
</div>
</div>