<div>
	<h2>Nombre: <%= service.serviceName %></h2>
	<h3>Precio: <%= service.servicePrice %></h3>
	<p>Descripción: <%= service.serviceDescription %> </p> 

	<a href="/service/edit/<%= service.id_service %>">Edit</a>
</div>