
<style type="text/css">
.labeltd{
	text-align: right;
	padding: 0 .5em;
}
</style>



<div id="main" class="container" >
<h1>HISTORIAL</h1>
<div class="divForms">
<div >
	<label >Ingresar DNI:</label>
	<input id="mysearch" type="number" min="0" name="userSeach" list="myUserList" class="form-control" /> 
	<datalist id="myUserList" >
		
	</datalist>
	<button id="searchBT" class="btn btn-info"/><img src="/images/lupa.png" height="20" width="20" /> Buscar</button><br/><br/>
</div>

<div id="mensaje" >
	<ul class="alert alert-info">
		<li id="msj"> </li>
	</ul>
	<div id="create">
	<h3 id="h" > </h3>

	</div>
</div>
</div>
</div>

<script src="/js/clientDetail.js"></script> 