
<style type="text/css">
.labeltd{
	text-align: right;
	padding: 0 .5em;
}
</style>



<div id="main" class="container" >
<h1>HISTORIAL</h1>
<div class="divForms">
<div >
	<label >Ingresar DNI:</label>
	<input id="mysearch" type="number" name="userSeach" list="myUserList" class="form-control" /> 
	<datalist id="myUserList" >
		
	</datalist>
	<button id="searchBT" class="btn btn-info"/> Buscar</button><br/><br/>
</div>

<div id="mensaje" >
	<ul class="alert alert-info">
		<li id="msj"> </li>
	</ul>
	<div id="create">
	<h3 id="h" > </h3>
<% if (session.User.admin === 'nutritionist') { %> 			

	<form class="form-inline" action="" method="POST" >
		<table>
		<tr>
		<td class="labeltd"><label>Peso: </label></td>
		<td><input type="number" name="weight" class="form-control" placeholder="Peso en Kilogramos(Kg.)" /></td> 
		</tr>
		<tr>
		<tr>
		<td class="labeltd"><label>Altura: </label></td>
		<td><input type="number" name="height" class="form-control" placeholder="Altura en Metros (m.)" /></td>
		</tr>
		<tr>
		<td class="labeltd"><label>% de Grasa: </label></td>
		<td><input type="number" name="fatPercentage" class="form-control" placeholder="% de Grasa Corporal" /></td>
		</tr>
		<tr>
		<td class="labeltd"><label>Brazo: </label></td>
		<td><input type="number" name="arm" class="form-control" placeholder="Medida de Brazos" /></td>
		</tr>
		<tr>
		<td class="labeltd"><label>Antebrazo: </label></td>
		<td><input type="number" name="forearm" class="form-control"placeholder="Medida de Antebrazos" /></td>
		</tr>
		<tr>
		<td class="labeltd"><label>Piernas: </label></td>
		<td><input type="number" name="leg" class="form-control" placeholder="Medida de Piernas" /></td>
		</tr>
		<tr>
		<td class="labeltd"><label>Pantorrillas: </label></td>
		<td><input type="number" name="calf" class="form-control" placeholder="Medida de Pantorrillas" /></td>
		</tr>
		<tr>
		<td class="labeltd"><label>Cintura: </label></td>
		<td><input type="number" name="waist" class="form-control" placeholder="Medida de Cintura" /></td>
		</tr>
		<tr>
		<td class="labeltd"><label>Observaciones: </label></td>
		<td><textarea name="observations" rows="5" cols="50" placeholder="Ingresar observaciones..."></textarea></td>
		</tr>
		</table>
		<input type="file" name="avatar" multiple="multiple"><br>
    <input type="submit" value="Upload" class="form-control" />
		<br/>
		<input type="submit" class="btn btn-success" value="Guardar Registro"/> <br/>

	</form>
<% }%>
	</div>
</div>
</div>
</div>

<script src="/js/clientDetail.js"></script>