
<div id="main" class="container col-md-8 col-md-offset-2" >
<h1>HISTORIAL</h1>

<div class="divForms">
<form action="/clientdetail/create/?id_client=<%= id_client %>" method="POST" >

		<label >Altura: </label> 
		<input type="text" name="height" class="form-control"placeholder="ingresar altura en metros (m)" /> 
		<label >Peso: </label>
		<input type="text" name="weight" class="form-control" placeholder="Ingresar el peso en Kilogramos(Kg.)" />
		<label >Rutina: </label>
		<textarea name="workout" rows="4" cols="45" class="form-control" placeholder="Ingresar rutina de entrenamiento"></textarea>		
		<label >Dieta: </label>
		<textarea name="diet" rows="4" cols="45" class="form-control" placeholder="Ingresar plan de dieta..."></textarea>
		<label >Observaciones: </label>
		<textarea name="observations" rows="4" cols="45" class="form-control" placeholder="Ingresar observaciones..."></textarea>
		<input type="submit" id="regDetails" class="btn btn-danger" value="Registrar " />

	</form>
</div>
</div>

<script src="/js/upgradeClient.js"></script>