
<div class="container">
<h1>REPORTE DE EGRESOS</h1>
<div class="divForms">
<div id="mensaje" >
    <ul class="alert alert-info">
        <li id="msj">indique el intervalo de tiempo para su reporte</li>
    </ul> 
</div>

    <form >
    	<label for="">Desde: </label>
    	<input type="date" id="inicio" name="startDate" step="1" min="2013-01-01" max="<%= systemDateFormat %>" value="<%= systemDateFormat %>">
    	<label for="">Hasta: </label>
    	<input type="date" id="fin" name="startDate" step="1" min="2013-01-01" max="<%= systemDateFormat %>" value="<%= systemDateFormat %>">

    	<button id="send" class="btn btn-info"> Filtrar </button> 
    </form>   

</div>

    <div class="tableContainer">
    <hr>
    <table id="dvData" class="display table table-borderd table-hover" >
        <thead>
            <tr>
            	<th>Fecha y hora</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Observaciones</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody ></tbody>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>TOTAL:</th>
                <th id="total">S/.</th>
            </tr>
        </tfoot>
    </table>
    <br>
    <a id="excel" download="reporte.xls" href="#" onclick="return ExcellentExport.excel(this, 'dvData', 'Sheet Name Here');"><img src="/images/excel.png" class="" height="42" width="42"> Exportar a Excel</a>
    </div>
        
</div><br><br>

<script src="/js/Report.js"></script>
 