<h1>Generar Reportes!</h1>
<form role="form" action="#" method="GET" class="" id="">
	<label for="">desde: </label>
	<input type="date" name="" step="1" min="2013-01-01" max="2013-12-31" value="2013-01-01">
	<label for="">hasta: </label>
	<input type="date" name="" step="1" min="2013-01-01" max="2013-12-31" value="2013-01-01">

	<input type="submit" value="Generar Reporte" class="btn" /> 
	
</form>