<link rel="stylesheet" href="/styles/newSaleStyle.css">

<!-- //////////////////////////// -->

<div id="main" class="container" >
<h1>INGRESO DE VENTA</h1>
<div id="mensaje" >
	<ul class="alert alert-success">
		<li id="msj" >mensaje: </li>
	</ul> 
</div> 
 
<div class="divForms">
	<form name="fo1" class="form-inline" >
	<label >Ingresar DNI:</label>
	<input id="mysearch" type="search" name="dniSeach" class="form-control" /> 
	<button id="searchBT" class="btn btn-info"/> Buscar</button><br/><br/>
	<div class="form-group"><div class="input-group">
	<div class="input-group-addon">Nombres</div>
	<input type="text" class="clientInfo form-control" name="firstName" placeholder="Nombres" required/><br/>
	</div></div>
	<div class="form-group"><div class="input-group">
	<div class="input-group-addon">Apellidos</div>
	<input type="text" class="clientInfo form-control" name="lastName" placeholder="Apellidos" /> 
	</div></div><br/>

	<div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">#Teléfono</div>
	      <input type="text" class="clientInfo form-control" name="phoneNumber" placeholder="Telefono/celular" /> 
	    </div>
  	</div>	
	<div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">@E-mail</div>
			<input type="email" class="clientInfo form-control" name="email" placeholder="e-mail" />
	    </div>
  	</div><br/>
  	<hr>		
	
</form>

<form name="fo2" class="form-inline">
	<div >	
	<div class="form-group"><div class="input-group">
		<div class="input-group-addon">Servicio</div>
		<select class="form-control" id="idService" name="service"/>	
			<% _.each(servicios, function(serv){ %>
			<option value="<%= serv.serviceName %>"> 
				<%= serv.serviceName %>
			</option>
			<%})%>
	   	</select>
	</div></div>
	<div class="form-group"><div class="input-group">
		<div class="input-group-addon">#Cantidad</div>
		<input type="number" id="sCantidad" class="form-control" placeholder="cantidad" />
	</div></div>
	<div class="form-group"><div class="input-group">
		<div class="input-group-addon">S/.</div>
		<input type="text" name="sPrice" id="sPrice" class="form-control" placeholder="0.00"/>
	</div></div>
		<input type="submit" id="add" class="btn btn-danger" value="+" /><br/>
	</div>
	<br>
	<div id="tableSale">
	<table id="tableSale" class="table table-hover" >
	    <thead>
	        <tr>
	        	<th>borrar</th>
	            <th>Producto</th>
	            <th>Cantidad</th>
	            <th>precio/u</th>
	            <th>Precio total</th>
	        </tr>
	    </thead>
	    <tbody class="tableSale"> </tbody>
	</table>
	</div>

	<hr>
	<div class="form-group"><div class="input-group">
		<div class="input-group-addon">Total: S/.</div>
		<input class="form-control" id="total" type="text" name="fullPrice" disabled value="0.00">
	</div></div>
<!--   *******   Ticket  ******   -->
<div id="ticket" hidden >
	<style type="text/css">
	#ticket {
		font-size: 0.8em;
	}
	</style>


	<h4>** ONE Fitness **</h4>
	<p>RUC: 2323578963</p>
	<p id="tName">Nombre: </p>
	<p id="tDni">DIN: </p>
	<p id="tPrice">Precio total: S/.</p>
	<p>linea numero 1</p>
	<p>linea numero 2</p>
	<p>linea numero 3</p>
	<p>linea numero 4</p>
	<p>linea numero 5</p>
	<p>linea numero 6</p>
	<p>linea numero 7</p>
	<p>linea numero 8</p>
	<p>linea numero 9</p>
	<p>linea numero 10</p>
	<p>linea numero 11</p>
</div>	
<!--   *******  Fin del Ticket  ******   -->

    <button id="print" class="saveSale btn btn-danger"> imprimir y Guardar </button>
    <a class="btn btn-danger navbar-btn navbar-right" href="/sale/new">Borrar Todo</a>
	</div>
	</form>
</div>
</div>


<script src="/js/form.js"></script>

 