


<div id="main" ng-controller="controllerD as cd" class="container col-md-8 col-md-offset-2" >
<h1>Venta!!!</h1>
<form name="fo" class="sale form-inline" ng-submit="cd.addDetalle()" role="form">
<div class="form-group " >
	<label >Buscar por DNI:</label>
	<input id="mysearch" type="search" name="dniSeach" /><br/><br/>
	<input type="text" name="firstName" placeholder="Nombres" required/><br/>
	<input type="text" name="lastName" placeholder="Apellidos" /> <br/>
	<div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">#</div>
	      <input type="text" name="phoneNumber" placeholder="Telefono/celular" /> 
	    </div>
  	</div>	
	<div class="form-group">
	    <div class="input-group">
	      <div class="input-group-addon">@</div>
			<input type="email" name="email" placeholder="e-mail" />
	    </div>
  	</div><br/>		
	<label >Dirección:</label>
	<input type="text" name="address" placeholder="Dirección" />
	<label >Distrito:</label>
	<select name="district" />
			<option value=""> - - - </option>
			<% _.each(distritos, function(distrito){ %>

			<option value="<%= distrito.id_district %>"> 
				<%= distrito.districtName %>
			</option>
			
			<%})%>
    </select><br>


<h2>seleccionar servicio</h2>
		<select  name="service" ng-model="cd.detalle.service"/>
			<option value=""> - - - </option>
			<% _.each(servicios, function(servicio){ %>

			<option value="<%= servicio.serviceName %>"> 
				<%= servicio.serviceName %>
			</option>
			<%})%>
   		</select>

			<input type="text" name="" placeholder="precio" ng-model="cd.detalle.price"/>
			<input type="number" name="" placeholder="cantidad" ng-model="cd.detalle.cantidad"/>
			<button type="submit" id="go" class="btn">
				+
			</button><br/>

<table class="table table-borderd table-hover" >
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody ng-repeat="detalle in cd.detalles" class="tableSale">
            <tr>
                <td class="producto">{{detalle.service}}</td>
                <td class="cantidad">{{detalle.cantidad}}</td>
                <td class="precio">{{detalle.price}}</td>
            </tr>
            </tr>
        </tbody>
    </table>
    <input type="text" name="fullPrice">

    <button type="submit" id="send" class="btn btn-success"> SEND </button><br/>
</div>
</form>
</div>

<script src="/js/dependencies/form.js"></script>
