<h1>REGISTRAR CLIENTE</h1>
<div class="divForms">
	<form  action="/client/create" method="POST" >
		<input type="text" name="flag" value="2" hidden /> 
		<table>
		<tr>
			<td class="labeltd"><label>DNI: </label></td>
			<td><input type="number" min="0" name="documentNumber" class="form-control" value="<%= dni%>" placeholder="Ingresar DNI " required/> </td>
		</tr>
		<tr>
			<td class="labeltd"><label>Nombres: </label></td>
			<td><input type="text" name="firstName" class="form-control" placeholder="Ingresar Nombres" required/> </td>
		</tr>
		<tr>
			<td class="labeltd"><label>Apellidos: </label></td>
			<td><input type="text" name="lastName" class="form-control" placeholder="Ingresar Apellidos" required/></td>
		</tr>
		<tr>
			<td class="labeltd"><label>Teléfono: </label></td>
			<td><input type="number" min="0" name="phoneNumber" class="form-control" placeholder="Telefono/celular" /></td>
		</tr>
		<tr>
			<td class="labeltd"><label>E-mail: </label>	</td>	
			<td><input type="email" name="email" class="form-control" placeholder="Ingresar E-mail" /> 
		</tr>
		<tr>
			<td class="labeltd"><label>Direccón: </label></td>
			<td><input type="text" name="address" class="form-control" placeholder="Ingresar Dirección" /> </td>
		</tr>
		<tr>
			<td class="labeltd"><label>Distrito: </label></td>
			<td><select  id="pais" class="cambio form-control" name="district" >
					<% _.each(districts, function(district){ %>
					<option value="<%= district.id_district %>"> 
						<%= district.districtName %>
					</option>
					<%})%>
		    </select></td>
		</tr>
		<tr>
			<td class="labeltd"><label>Sexo: </label>	</td>	
			<td><select class="cambio form-control" name="sex" required>
					<option value="false">Femenino</option>
					<option value="true">Masculino</option>
				</select>
			</td> 
		</tr>
		<tr>
			<td class="labeltd"><label>Peso: </label>	</td>	
			<td><input type="number" min="0" step="any" name="weight" class="form-control" placeholder="Ingresar el Peso" required /> </td>
		</tr>
		<tr>
			<td class="labeltd"><label>Altura: </label>	</td>	
			<td><input type="number" name="height" class="form-control" placeholder="Ingresar la Altura" required /> </td>
		</tr>
		<tr>
			<td class="labeltd"><label>% de Grasa: </label>	</td>	
			<td><input type="number" name="fatPercentage" class="form-control" placeholder="% de Grasa Corporal"  /> </td>
		</tr>
		</table>
<hr>
		<table>
		<tr>
			<td class=""><label>¿Actualmente estas entrenando? </label>	</td>
		</tr>
		<tr>	
			<td><select class="cambio form-control" name="question1" >
					<option value="Si">Si</option>
					<option value="No">No</option>
					<option value=""> </option>
				</select>
			</td> 
		</tr>
		<tr>
			<td class=""><label>¿Ya lo has tomado antes? ¿Como te fue? </label></td>
		</tr>
		<tr>
			<td><input type="text" name="question2" class="form-control" /> </td>
		</tr>
		<tr>
			<td class=""><label>¿Cuánto compraste o promoción adquiriste? </label></td>
		</tr>
		<tr>
			<td><input type="text" name="question3" class="form-control" /> </td>
		<tr>
		</tr>
			<td class=""><label>¿Dónde lo compraste? </label></td>
		</tr>
		<tr>
			<td><input type="text" name="question4" class="form-control" /> </td>
		</tr>
		<tr>
			<td class=""><label>¿Dónde entrenas? </label></td>
		</tr>
		<tr>
			<td><input type="text" name="question5" class="form-control" /> </td>
		</tr>
		<tr>
			<td class=""><label>¿Cómo conociste nuestra tienda? </label></td>
		</tr>
		<tr>
			<td><input type="text" name="question6" class="form-control" /> </td>
		</tr>
		<tr>
			<td class=""><label>Observaciones: </label></td>
		</tr>
		<tr>
			<td><input type="text" name="question7" class="form-control" /> </td>
		<tr>
		</table><br><br>


		<input type="submit" class="btn btn-danger" value=" Crear "/> <br/>
	</form>
</div>

<!-- //////////////  scripts //////////// -->

<script>
(document).ready(OnReady);
	function OnReady(){
	$("#mysearch").focus();
}
</script>