<h1>REGISTRAR CLIENTE</h1>
<div class="divForms">
<form  action="/client/create" method="POST" >
	<input type="text" name="flag" value="2" hidden /> 
<table>
<tr>
	<td class="labeltd"><label>DNI: </label></td>
	<td><input type="text" name="documentNumber" class="form-control" placeholder="Ingresar DNI " value="<%= dni %>" required/> </td>
<tr>
</tr>
	<td class="labeltd"><label>Nombres: </label></td>
	<td><input type="text" name="firstName" class="form-control" placeholder="Ingresar Nombres" required/> </td>
<tr>
</tr>
	<td class="labeltd"><label>Apellidos: </label></td>
	<td><input type="text" name="lastName" class="form-control" placeholder="Ingresar Apellidos" required/></td>
<tr>
</tr>
	<td class="labeltd"><label>Teléfono: </label></td>
	<td><input type="text" name="phoneNumber" class="form-control" placeholder="Telefono/celular" /></td>
</tr>
	<td class="labeltd"><label>E-mail: </label>	</td>	
	<td><input type="email" name="email" class="form-control" placeholder="Ingresar E-mail" /> </td>
<tr>
</tr>
	<td class="labeltd"><label>Direccón: </label></td>
	<td><input type="text" name="address" class="form-control" placeholder="Ingresar Dirección" /> </td>
<tr>
</tr>
	<td class="labeltd"><label>Distrito: </label></td>
	<td><select  class="cambio form-control" name="district" required>
			<% _.each(districts, function(district){ %>
			<option value="<%= district.id_district %>"> 
				<%= district.districtName %>
			</option>
			<%})%>
    </select></td>
</tr>
</tr>
	<td class="labeltd"><label>Sexo: </label>	</td>	
	<td><select class="cambio form-control" name="sex" required>
			<option value="false">Femenino</option>
			<option value="true">Masculino</option>
		</select>
	</td> 
<tr>
</tr>
	<td class="labeltd"><label>Peso: </label>	</td>	
	<td><input name="weight" class="form-control" placeholder="Ingresar el Peso" /> </td>
<tr>
</tr>
	<td class="labeltd"><label>Altura: </label>	</td>	
	<td><input name="height" class="form-control" placeholder="Ingresar la Altura" /> </td>
<tr>
</tr>
	<td class="labeltd"><label>% de Grasa: </label>	</td>	
	<td><input name="fatPercentage" class="form-control" placeholder="% de Grasa Corporal" /> </td>
<tr>
</table>
	<input type="submit" class="btn btn-danger" value=" Crear "/> <br/>
</form>
</div>

<!-- //////////////  scripts //////////// -->

<script>
(document).ready(OnReady);
	function OnReady(){
	$("#mysearch").focus();
}
</script>