a.hover:hover{
  color: #f24141;
  text-decoration: none;
}
body
{
  background: #EEEEEE;
  font-size: 17px;

}

div table{
  width: 100%;
}

figure
{
	margin: 0;
}
footer
{
  background: #4b4b4b;
  color: white;
  padding: .5em 0;
  text-align: center;
  clear: both;
  border-top: 0.25em solid #e21607;
  font-size: 0.86em;
  
}
h1 
{
  text-align: center;
  color: #e21607;
}
header
{
  background: #4b4b4b;
  padding: 0.5em;
  overflow: hidden;
  position: relative;
}
header figure
{
  position: absolute;
  right: 2em;
  bottom: 0.1em;
}
header ul 
{
  float: right;
  margin: 0 5em 0 0;  
}
header ul li 
{
  display: inline-block;
}
header ul li a
{
  color: white;
  margin: 0 0.6em;
}
nav 
{
  text-align: right;
  border-bottom: 0.2em solid #e21607;
  background-image: url("/images/2.jpg");
  background-position: right center;
  width: 100%;
  font-size: 1.1em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-repeat-y: initial;
  /*position: relative;*/
}
nav #logo 
{
  float: left;
  padding: 0 0 0 2em;
}
nav #logo img
{
  width: 190px;
}

nav ul li 
{
  display: inline-block;
}
nav ul li a
{
  color: #6C6C6C;
  display: block;
  padding: 2em 1.1em 1em 0;
}
label.error
{
  color: rgb(236, 74, 74);
  font-size: 0.8em;
  font-style: italic;

}
ul 
{
  list-style: none;
  margin: 0;
  padding: 0;
}


/***** Clases ********/

.clientAvatar{
  width: 160px;
  float: right;
  border-radius: 50%;
  margin: 1em;

}
.container{
  width: 100%;
  background: url(/images/all.png) no-repeat  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 610px;

}
.divForms
{
  border: 2px solid gray;
  padding: 1em;
  margin: 2.5em 13em;
  border-radius: 10px;

}
.form-control {
  display: inline-block;
  width: 75%;
}

.table thead{
  background: #DE3327;
  color: white;
}
.labeltd{
  text-align: right;
  padding: 0 .5em;
  width: 25%;
}
.legend{
  margin: 0;
font-size: 0.85em;
}
.text-cente{
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}