
<div class="container" >
	<h1>EGRESO DE DINERO</h1>
<div class="divForms">
	<form action="/expense/create" method="POST">
	<label>Nombres: </label>
		<input type="text" name="firstName" class="form-control" placeholder="Ingresar Nombres"><br>
	<label>Apellidos: </label>
		<input type="text" name="lastName" class="form-control" placeholder="Ingresar Apellidos"><br>
	<label>Nombres: </label>	
		<input type="text" name="moneyOutput" class="form-control" placeholder="S/. Monto"><br>
	<label>Descripción: </label>
		<textarea name="expenseDescription" class="form-control" rows="10" cols="80" placeholder="..."></textarea> <br/>
		<input type="submit" value="Guardar" class="btn btn-danger">
	</form>
</div>
</div>