
<div class="container col-md-6 col-md-offset-3" >
	<h1>Registrar egresos de dinero</h1>
	<form action="/expense/crearte" method="POST">
	<input type="text" name="firstName" class="form-control" placeholder="Nombres">
	<input type="text" name="lastName" class="form-control" placeholder="Apellidos">
	<input type="text" name="moneyOutput" class="form-control" placeholder="S/. Monto">
	<input type="submit" value="Guardar" class="btn btn-success">
	</form>

</div>