
<div class="container" >
	<h1>EGRESO DE DINERO</h1>
<div class="divForms">
	<form action="/expense/create" method="POST">

	<h4 class="text-cente"><strong>Ingresar los datos del solisitante</strong></h4><br>
	<table>
	<tr> 
	<td class="labeltd" ><label>Nombre(s) : </label></td >
		<td ><input type="text" name="firstName" class="firstName form-control" placeholder="Ingrese el(los) Nombre(s)" required></td >
	</tr>
	<tr>
	<td class="labeltd" ><label>Apellido(s): </label></td >
		<td  ><input type="text" name="lastName" class="form-control" placeholder="Ingrese el(los) Apellido(s)" required></td >
	</tr>
	<tr>
	<td class="labeltd" ><label>Monto: S/.</label></td >	
		<td  ><input type="number" name="moneyOutput" id="moneyOutput" class="form-control" placeholder="Ingrese el monto en soles ej.(1000) o (1000.99)" required></td >
	</tr>
	<tr>
	<td class="labeltd" ><label>Descripción: </label>
		<td  ><textarea name="expenseDescription" class="form-control" rows="10" cols="80" placeholder="..."></textarea></td >
		
	</tr>
	</table>
	<input type="submit" value="Guardar" class="btn btn-danger">
	</form>
</div>
</div>

<script type="text/javascript">
$(document).ready(OnReady);
function OnReady(){
	$(".firstName").focus();

    $('#moneyOutput').blur(function() {
        var amt = parseFloat(this.value);
        $(this).val(amt.toFixed(2));
    });
}
</script>