
<div class="container" >
	<h1>EGRESO DE DINERO</h1>
<div class="divForms">
	<form action="/expense/create" method="POST">
	<table>
	<tr>
	<td class="labeltd" ><label>Nombres: </label></td >
		<td ><input type="text" name="firstName" class="firstName form-control" placeholder="Ingresar Nombres" required></td >
	</tr>
	<tr>
	<td class="labeltd" ><label>Apellidos: </label></td >
		<td  ><input type="text" name="lastName" class="form-control" placeholder="Ingresar Apellidos" required></td >
	</tr>
	<tr>
	<td class="labeltd" ><label>Monto: </label></td >	
		<td  ><input type="text" name="moneyOutput" class="form-control" placeholder="S/. Monto" required></td >
	</tr>
	<tr>
	<td class="labeltd" ><label>Descripción: </label>
		<td  ><textarea name="expenseDescription" class="form-control" rows="10" cols="80" placeholder="..."></textarea></td >
		
	</tr>
	</table>
	<input type="submit" value="Guardar" class="btn btn-danger">
	</form>
</div>
</div>

<script>
$(document).ready(OnReady);
function OnReady(){
	$(".firstName").focus();

}
</script>